__pycache__/
*.py[cod]
*$py.class
*.so
*.log
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.code-workspace
.github/

# Outputs
outputs/*
!outputs/videos/
IsaacSim.code-workspace
